[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 
#
#                         Rook 2020 MK1 CONFIG
#
#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 


###====##====##====##====##====##====##====##====##====##====##====##====###
#####    All lines that needs a double check are marked with `#!#`     #####
#####          Use the search function to find them easily             #####
###====##====##====##====##====##====##====##====##====##====##====##====###

# CONFIG BY KANROG87
#
# This config is based on the Fabreeko-Kit with 300mm Z-extrusions and rods, and using my Sentinel toolhead with the probe mod.
#
# This file contains common pin mappings for the BIGTREETECH SKR mini E3 v3.0

# See docs/Config_Reference.md for a description of parameters.

#[include adxl.cfg] ## For those who use an accelerometer to measure resonances for input shaper, make sure your file is set up for your device.
[include fluidd.cfg]
#[include mainsail.cfg]
[include macros_1.cfg] ## Go trough these and check that they match your setup #!#
[include macros_2.cfg] ## Only one line to change here.
[include macros_torture.cfg] ## Torture macros for troubleshooting
[include macros_homing.cfg] ## Macros to help you get the homing dialed in. #!#
[include klipper-mini12864.cfg]

# Accelerometer
#[include accelerometer.cfg]

#====================================================================
# Serial Connection ## Make sure this matches the output from the command "ls /dev/serial/by-id/*" on your klipper machine/pi #!#
#====================================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357128932248-if00

#====================================================================
# PRINTER LIMIT SETTINGS ## These are set higher than needed, mostly for diagnosing and testing.
#====================================================================
[printer]
kinematics: corexy
max_velocity: 600
max_accel: 50000
#max_accel_to_decel: 10000
square_corner_velocity: 5
max_z_velocity: 50
max_z_accel: 2000

[duplicate_pin_override]
pins: temperature_host

#====================================================================
# X STEPPER ## Fabreeko HoneyBadger 40mm Motor ## Right motor
#====================================================================
[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 120
position_max: 120
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: ^gpio4    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 110 # 255 is most sensitive value, 0 is least sensitive ## Change only if sensorless homing needs adjusting #!#

#====================================================================
# Y STEPPER ## Fabreeko HoneyBadger 40mm Motor ## Left motor
#====================================================================
[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 134 ## change (+/-) to make shure Y0 is at the edge of your bed #!# 143
position_max: 134 ## match the value in "position_endstop:" #!# 143
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: ^gpio3
driver_SGTHRS: 110 # 255 is most sensitive value, 0 is least sensitive ## Change only if sensorless homing needs adjusting #!#

#====================================================================
# Z STEPPER ## Fabreeko HoneyBadger 40mm Motor
#====================================================================
## Please note that my Z-extrusions and rail is 300mm and im using my ABL-mod for the Sentinel toolhead.
[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 64
rotation_distance: 40
#endstop_pin: !PC15
endstop_pin: probe:z_virtual_endstop ## Change to "PC2" if using a normal endstop #!#
#position_endstop: 220 ## Uncomment if using endstop and set to lowest point where your bed hits the switch, also remove [probe] section. #!#
position_max: 130 ## Change to lowest point your bed can move #!#
position_min: -10
homing_speed: 30
#second_homing_speed: 5
homing_retract_dist: 10
homing_retract_speed: 10
gear_ratio: 4:1 ## Comment out if you are not using geared Z  #!#

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999
interpolate: False

#====================================================================
# EXTRUDER ## Fabreeko HoneyBadger 20mm Pancake motor and Fabreeko Sherpa kit  ## Change to suit your extruder-setup #!#
#====================================================================
#[include hgx-lite.cfg]
#[include sherpa-mini.cfg]
#[include BMG.cfg]
#[include papilio.cfg]
[extruder]
step_pin: gpio14
dir_pin: !gpio13
enable_pin: !gpio15
rotation_distance: 22.67895
#rotation_distance: 77.6 # papilio
gear_ratio: 50:10 ## for moons 8t motor
microsteps: 32
full_steps_per_rotation: 200 ## 1.8deg Motor
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpio23
sensor_type: Generic 3950
sensor_pin: gpio27
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -200
min_extrude_temp: 0
max_temp: 300
#pressure_advance: 0.04 ## Fabreeko kit / Trianglelabs CHC
#pressure_advance_smooth_time: 0.04
max_extrude_cross_section: 50
max_extrude_only_distance: 1000

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
#====================================================================
# BED HEATER ## LDO 100W Voron V0 Bed with FYSETC PEI/Carbon sheet ## Change to suit your bed-setup #!#
#====================================================================
[heater_bed]
heater_pin: gpio21
sensor_type: ATC Semitec 104GT-2
sensor_pin: gpio26
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: -200
max_temp: 130

#====================================================================
# FANS
#====================================================================
[heater_fan hotend_fan] ## FAN1
pin: gpio17
heater: extruder
heater_temp: 45.0

[fan] ## FAN3 (Part-cooling)
pin: gpio18

#  Select between auxiliary cooling fan or controller fan on the FAN2 port: #!#
# if using the auxiliary part-cooling fan, make sure you have a fan connected to 24v to cool your controller.

[include fan_controller.cfg]
#[include fan_aux.cfg]

#====================================================================
# AUTOMATIC BED LEVELING  ##  Only if you are using my ABL probe mod for the sentinel #!#
#====================================================================
[bltouch]
sensor_pin: gpio22
control_pin: gpio29
x_offset: 0
y_offset: -38
#z_offset: 0
samples: 2
sample_retract_dist: 5
samples_result: average
speed: 5
lift_speed: 3

#[probe]
#pin: !PC15
#x_offset: 0.0
#y_offset: -31.23
#z_offset: 0
#speed: 5
#samples: 1
#sample_retract_dist: 2.5
#lift_speed: 5
#samples_result: average

[bed_mesh]
speed: 60
horizontal_move_z: 5
mesh_min: 5, 0
mesh_max: 110, 80
probe_count: 3, 3
fade_start: 1.0
fade_end: 8.0
mesh_pps: 2, 2
algorithm: bicubic

#====================================================================
# MANUAL BED LEVELING
#====================================================================
[bed_screws]
screw1: 100,110
screw1_name: front left screw
screw2: 10,110
screw2_name: rear left screw
screw3: 55,5
screw3_name: middle front screw

#====================================================================
# TEMPERATURE SENSORS
#====================================================================
[temperature_sensor pico]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor btt_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#====================================================================
# MISC
#====================================================================
#[static_digital_output usb_pullup_enable]
#pins: !PA14

[respond]
default_type: echo
default_prefix: echo:

[exclude_object]
[pause_resume]
[input_shaper]
[gcode_arcs]
resolution: 0.2

#====================================================================
# BOARD PINS
#====================================================================
[neopixel kirigami]
pin: gpio24
chain_count: 1
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.2
initial_BLUE: 0.9
initial_WHITE: 0.0

#[filament_switch_sensor runout_sensor]
#switch_pin: ^gpio16
#pause_on_runout: True

# [filament_motion_sensor smart_sensor]
# switch_pin: ^gpio16
# detection_length: 2.5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.019531, 0.030078, 0.029297
#*# 	  -0.010938, 0.045703, 0.022266
#*# 	  -0.042578, -0.040625, -0.042969
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 110.0
#*# min_y = 0.0
#*# max_y = 80.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.832
#*# pid_ki = 3.276
#*# pid_kd = 340.843
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 57.402
#*# pid_ki = 10.343
#*# pid_kd = 79.645
#*#
#*# [bltouch]
#*# z_offset = 2.600
